<p>
  slide-edit works!
</p>

<div id="exTab2" class="container">
    
    
      <ul style="display:none" class="nav nav-tabs">
        <li class="active">
          <a id="aaLink"  href="#aa" data-toggle="tab">Step1</a>
        </li>
        <li>
          <a id="bbLink" href="#bb" data-toggle="tab">Step2</a>
        </li>
        <li>
          <a id="ccLink"  href="#cc" data-toggle="tab">Step3</a>
        </li>
      </ul>
    
      <div class="tab-content" id="tabs">
        <div class="tab-pane active" id="aa">
          <div class="col-xs-12">
            <br />
            <div class="row">
            <div class="form-group col-xs-12 col-md-2">
                <label>Rows on Page</label>
                <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5">5</option>
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="15">15</option>
                    </select>
              </div>
              <div class="col-xs-0 col-md-10"></div>
            </div>  
            <div class="row">
              <div class="form-group col-xs-12 col-md-3">
                  <label>Filter By Name</label>
                  <input class="form-control" [(ngModel)]="filterQuery"/>
                </div>
                <div class="col-xs-0 col-md-9"></div>
              </div>  


                <p>
                      <img class="img-responsive" src="../../assets/images/loading.gif" *ngIf="isLoading">{{isLoading}}sss

                <!-- 
                </form> -->
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                <thead>
                <tr>
                <th style="width: 20%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 50%">
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="age">Age</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="city">City</mfDefaultSorter>
                </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                <td><a (click)="loadItemToEdit(item)">{{item.name}}</a></td>
                <td>{{item.email}}</td>
                <td class="text-right">{{item.age}}</td>
                <td>{{item.city | uppercase}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
                </tr>
                </tfoot>
                </table>
               
          </div>
        </div>
        <div class="tab-pane" id="bb">
          <div class="col-xs-12">
            <br />bbb

            <form #myForm="ngForm" name="myForm" novalidate>

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="item.name" #name="ngModel" required>
                    <div class="alert alert-danger" *ngIf="name.dirty && name.invalid">name is required</div>
                  </div>

                  <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" name="email" [(ngModel)]="item.email" #email="ngModel" required>
                      <div class="alert alert-danger" *ngIf="email.dirty && email.invalid">email is required</div>
                    </div>

                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" name="city" [(ngModel)]="item.city" #city="ngModel" required>
                        <div class="alert alert-danger" *ngIf="city.dirty && city.invalid">city is required</div>
                      </div>

                      <div class="form-group">
                          <label>Age</label>
                          <input type="text" class="form-control" name="age" [(ngModel)]="item.age" #age="ngModel" required>
                          <div class="alert alert-danger" *ngIf="age.dirty && age.invalid">age is required</div>
                        </div>



                  <p>
                      <input type="button" class="btn btn-primary" value="Save" (click)="saveItem()">
                      <input type="button" class="btn btn-warning" value="Cancel" (click)="nextClick('aaLink')">
          
                    </p>
            </form>


      
          </div>
        </div>
        <div class="tab-pane" id="cc">
          <div class="col-xs-12">
            <br />
            <h4>3333 step of wizard/step form</h4>
            <div>text text<br />dsfhsdfd</div><br />
            <div class="form-group">
              <button class="btn btn-primary " (click)="nextClick('aaLink')" name="submit" type="button">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>

