<p>
  employees works!
</p>
<div class="container">
    
      <h3>Employees</h3>

 
      <div class="col-md-6 col-md-12">
          <br><img class="img-responsive" src="../../assets/images/loading.gif" *ngIf="isLoading">
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th> Id</th>
              <th>Name</th>
            </tr>
            <tr *ngFor="let item of allItems">
                <td>{{item.id}}</td>
              <td><a (click)="loadItemToEdit(item)"> {{item.lastName}}, {{item.firstName}}</a></td>
            </tr>
          </table>
        </div>
        <div class="col-md-6 col-md-12">    <br><img class="img-responsive" src="../../assets/images/loading.gif" *ngIf="isLoading2">
      <form #form="ngForm"  novalidate>
        <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
          <label>First Name</label>
    
          <input type="text" class="form-control" name="firstName" 
          [(ngModel)]="itemEdit.firstName"  #firstName="ngModel" required>
        <div *ngIf="firstName.invalid && firstName.dirty" class="alert alert-danger">
    first name req
        </div>
        
        </div>
        <div class="form-group">
          <label>Last Name</label>
    
          <input type="text" class="form-control" placeholder="Name" name="lastName" [(ngModel)]="itemEdit.lastName">
        </div>
        <div class="checkbox">
          <label>
              <input type="checkbox" name="isFullTime"
              [(ngModel)] = "itemEdit.isFullTime"> Full Time Employee
              </label>
        </div>
    
        <label>Payment Type </label>
        <div class="radio">
          <label>
            <input type="radio" name="paymentType" 
            [(ngModel)] = "itemEdit.paymentType"
            value="w2" checked> W2
            </label>
        </div>
        <div class="radio">
          <label>
              <input type="radio" name="paymentType"
              [(ngModel)] = "itemEdit.paymentType"
               value="1099"> 1099
              </label>
        </div>
        <div class="form-group">
          <label>Primary Language</label>
    
          <select class="form-control" name="primaryLanguage" [(ngModel)]="itemEdit.primaryLanguage">
                <option *ngFor="let lang of languages">
                  {{lang}}
                </option>
      
              </select>
        </div>
        {{form.pristine}}
        Model: {{ itemEdit | json }} <br> Angular: {{ form.value | json }}
        <br>
    {{form.pristine}}
    <br>
    <p>
        <input type="button" class="btn btn-primary" [disabled]="form.invalid" value="Save" (click)="save()">
        <input type="button" class="btn btn-warning" value="Cancel" (click)="cancel()">

      </p>
        <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Ok</button> 
      </form>
    </div>
    
    </div>
    