
<div class="container">
  <br>
  <a routerLink="/slide-edit" routerLinkActive="active-link">Home</a>|
  <a routerLink="/products" routerLinkActive="active-link">products</a>|
  <a routerLink="/steps" routerLinkActive="active-link">step/wizard </a>|


<a routerLink="/slide-edit" routerLinkActive="active-link">slide edit</a>|
<a routerLink="/boot-table" routerLinkActive="active-link">bootstrap table</a>|
<a routerLink="/map" routerLinkActive="active-link">google maps</a>|
<a routerLink="/employees" routerLinkActive="active-link">employees</a>|
<a routerLink="/guest" routerLinkActive="active-link">guestbook</a>|
<a routerLink="/home" routerLinkActive="active-link">about</a>|

<router-outlet></router-outlet>
</div>
