
<div class="container">
<h3>Angular Cli - Kitchen Sink App</h3>
<p>Welcome to Angular Kitchen Sink Style App/Project. To Clone/Download Repo and run locally click link below. Follow Project progress on Project Task Board.</p>
<p>&nbsp;</p>
<h4>Github Repository (Get the Code !)</h4>
<p><a title="Github Repo" href="https://github.com/michbru/AngularCli" target="_blank" rel="noopener">https://github.com/michbru/AngularCli</a></p>

<h4>Project Task Board (Todos, Doing, Dones)</h4>
<p><a title="Project Task Board" href="https://github.com/michbru/AngularCli/projects/1" target="_blank" rel="noopener">https://github.com/michbru/AngularCli/projects/1</a></p>
<p>&nbsp;</p>
<h4>Individual Repository Details</h4>



<div class="bs-example">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseCurrent">AngularCli</a>
                    </h4>
                </div>
                <div id="collapseCurrent" class="panel-collapse collapse">
                    <div class="panel-body">
                            This is the cumulative most up to date (current) repository.
                            Clone and npm install locally to run.
                            <p><a title="Github Repo" href="https://github.com/michbru/AngularCli" target="_blank" rel="noopener">https://github.com/michbru/AngularCli</a></p>
                            
            
            
            <img class="img-responsive" src="../../assets/images/Current.png">

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero">AngularCli_0</a>
                    </h4>
                </div>
                <div id="collapseZero" class="panel-collapse collapse">
                    <div class="panel-body">
                      
                                This is first commit for this project. It is a default Angular Cli App. Clone and "npm install" to run locally and to ensure
                                you have system requirements to create Angular Apps.
             
                        <p><a title="Github Repo" href="https://github.com/michbru/AngularCli_0" target="_blank" rel="noopener">https://github.com/michbru/AngularCli_0</a></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">AngularCli_1</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                            This repository adds a few npm packages and sets up routing.
         
                    <p><a title="Github Repo" href="https://github.com/michbru/AngularCli_1" target="_blank" rel="noopener">https://github.com/michbru/AngularCli_1</a></p>
               </div>
                </div>
            </div>






            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">AngularCli_2</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                          
                                   Here we add first component a Bootstrap Table (data table).
                 
                            <p><a title="Github Repo" href="https://github.com/michbru/AngularCli_2" target="_blank" rel="noopener">https://github.com/michbru/AngularCli_2</a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">AngularCli_3</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                                Here we add on a CRUD form. 
                        <p><a title="Github Repo" href="https://github.com/michbru/AngularCli_3" target="_blank" rel="noopener">https://github.com/michbru/AngularCli_3</a></p>
                   </div>
                    </div>
                </div>



        </div>
        <p><strong>Note:</strong> Click on the linked heading text to expand or collapse accordion panels.</p>
    </div>


      <p>&nbsp;</p>
      <p><strong>Disclaimer:</strong> I make no full claim of originality (per se) in this Kitchen Sink Assortment. As I expand my Angular Learning in some cases I start from scratch. In other cases 
          I leverage/adapt public work of others. I might change an entity to a different structure and in so doing learn underlying principles of why
          a particular feature worked. I might take a display only table and make it editable. I might take Bootstrap tabs and animate them and add CRUD functionality. My thanks to those
      who publicly publish their work so we can continue to learn.</p>
</div>